#!/usr/bin/env bash
#
export PATH=$PATH:$HOME/bin/bin;
export PATH=$PATH:$HOME/.local/des/bin;

# Check if the DOTFILES is not set
if [ -z "$DOTFILES" ]; then
# Set the DOTFILES path to the this script and one step beyond.
    DOTFILES="$(dirname -- "${BASH_SOURCE[0]}")/../"
fi

export HISTFILESIZE=1000000000
export HISTSIZE=1000000
export HISTTIMEFORMAT='%F %T '

export FZF_DEFAULT_COMMAND="find . -path '*/\.*' -type d -prune -o -type f -print -o -type l -print 2> /dev/null | sed s/^..//"
#eval "$(dircolors $DOTFILES/system/.dircolors)";
#export dircolors=$DOT_FILES/system/.dircolors;

